{% extends 'base.html' %}

{% block head %}
<title>{{ _(access ~ '_window_title') }}</title>
{% endblock %}

{% block body %}
<main class="container mx-auto">
    <h1 class="text-center my-3">{{ _(access ~ '_page_title') }}</h1>
    <section class="mx-auto" style="width:512px;">
        {% include 'user_access_form.html' with context %}
        {% if access == 'login' %}
        <p><a href="/password-recovery">{{ _('forgot_password_phrase_msg') }}</a></p>
        <p>
            {{ _('no_account_question_msg') }}
            <a href="/registration">{{ _('registration_action') }}</a>
        </p>
        {% elif access == 'registration' %}
        <p>
            {{ _('existing_account_question_msg') }}
            <a href="/login">{{ _('login_action') }}</a>
        </p>
        {% endif %}
    </section>
</main>
{% endblock %}
