{% if access.startswith('password_recovery') -%}
{% if user_id -%}
<form action="/password-recovery/{{ user_id }}/{{ token }}" method="POST">
{%- else -%}
<form action="/password-recovery" method="POST">
{% endif %}
{%- else -%}
<form action="/{{ access }}" method="POST">
{%- endif %}
    {% if access in ('registration', 'login', 'password_recovery_email') -%}
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        <div class="form-floating">
            <input type="text" class="form-control" id="email" name="email" required
                {{ 'value="' ~ email ~ '"' if email else 'placeholder="' ~ _('email') ~ '"' }}>
            <label for="email" class="form-label">{{ _('email') }}</label>
        </div>
    </div>
    {%- endif %}
    {% if access in ('registration', 'login', 'password_recovery_password') -%}
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" name="password" required
                placeholder="{{ _('password') }}">
            <label for="password" class="form-label">{{ _('password') }}</label>
        </div>
    </div>
    {%- endif %}
    {% if access in ('registration', 'password_recovery_password') -%}
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        <div class="form-floating">
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required
                placeholder="{{ _('confirm_password') }}">
            <label for="confirm-password" class="form-label">{{ _('confirm_password') }}</label>
        </div>
    </div>
    {%- endif %}
    <input type="submit" value="{{ _(access) }}">
</form>
